<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [13]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [14]:
# your code goes here
df.duplicated().sum()

154

In [15]:
df[['Respondent']].duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [16]:
# your code goes here
df.drop_duplicates(keep='first',inplace=True)

Verify if duplicates were actually dropped.

In [17]:
# your code goes here
df.duplicated().sum()

0

In [18]:
df['Respondent'].is_unique

True

## Finding Missing values

Find the missing values for all columns.

In [19]:
# your code goes here
df[['Country','EdLevel']].isnull().sum()

Country      0
EdLevel    112
dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [20]:
# your code goes here
df['WorkLoc'].isnull().sum

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
11547    False
11548    False
11549    False
11550    False
11551    False
Name: WorkLoc, Length: 11398, dtype: bool>

## Imputing missing values

In [24]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [27]:
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [31]:
df['CompFreq'].isnull().sum()

206

In [39]:
df.dropna(subset=['CompFreq'],axis=0,inplace=True)

Find the  value counts for the column WorkLoc.

In [40]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6677
Home                                              3523
Other place, such as a coworking space or cafe     960
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [41]:
#make a note of the majority value here, for future reference
#Office
val = df['WorkLoc'].value_counts()[df['WorkLoc'].value_counts()==df['WorkLoc'].value_counts().max()].index[0]
val

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [42]:
# your code goes here
df['WorkLoc'].fillna(val,inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [11]:
# your code goes here
df['WorkLoc'].isnull().sum

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
11547    False
11548    False
11549    False
11550    False
11551    False
Name: WorkLoc, Length: 11398, dtype: bool>

In [12]:
df.dtypes.value_counts()

object     79
float64     5
int64       1
dtype: int64

This is the code to replace null values of all columns with their mean or mode based on their data type

import numpy as np
#col = df.columns
def input_missing_values(df):
    col = df.columns
    for c in col:
        if df[c].dtype == 'int64':
            sum_nonull = df[c].sum()
            count_nonull=df[c].notnull().sum()            
            val = sum_nonull/count_nonull
            df[c].fillna(val,inplace=True)
        elif df[c].dtype == 'float64':
            sum_nonull = df[c].sum()
            count_nonull=df[c].notnull().sum()            
            val = sum_nonull/count_nonull
            df[c].fillna(val,inplace=True)
        elif df[c].dtype =='object':
            val = df[c].value_counts()[df[c].value_counts()==df[c].value_counts().max()].index[0]
            df[c].fillna(val,inplace=True)
        else:
            continue
    print("There are {} missing values in the dataframe".format(df.isnull().sum()))
    return df

In [15]:
df = input_missing_values(df)
df.isnull().sum()

There are Respondent      0
MainBranch      0
Hobbyist        0
OpenSourcer     0
OpenSource      0
               ..
Sexuality       0
Ethnicity       0
Dependents      0
SurveyLength    0
SurveyEase      0
Length: 85, dtype: int64 missing values in the dataframe

Respondent      0
MainBranch      0
Hobbyist        0
OpenSourcer     0
OpenSource      0
               ..
Sexuality       0
Ethnicity       0
Dependents      0
SurveyLength    0
SurveyEase      0
Length: 85, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [43]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [44]:
def nac(df1,df2):
    l = []
    for x,y in zip(df1,df2):
        if x=="Yearly":
            l.append(y)
        elif x == "Monthly":
            l.append(y*12)
        elif x =='Weekly':
            l.append(y*52)
        else:
            continue
    return l

In [47]:
df.dropna(subset=['CompTotal'],axis=0,inplace=True)
df['CompTotal'].isnull().sum()

0

In [48]:
# your code goes here
df['NormalizedAnnualCompensation'] = nac(df['CompFreq'],df['CompTotal'])
df['NormalizedAnnualCompensation']

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11546      9600.0
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
Name: NormalizedAnnualCompensation, Length: 10583, dtype: float64

In [50]:
import numpy as np
np.median(df['NormalizedAnnualCompensation'])

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).